<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Exercice 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let infoGeo of last5GeoLoc.infosGeo; index as position">
      <ion-label>
        <strong>date:</strong> {{infoGeo.save_at}}<br>
        <strong>latitude:</strong> {{infoGeo.latitude}}<br>
        <strong>longitude:</strong> {{infoGeo.longitude}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
