<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Exercice 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label><strong>Modèle:</strong> {{deviceInfo.info?.model}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Plateforme:</strong> {{deviceInfo.info?.platform}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Système d'exploitation:</strong> {{deviceInfo.info?.operatingSystem}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Version du système d’exploitation:</strong> {{deviceInfo.info?.osVersion}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Constructeur:</strong> {{deviceInfo.info?.manufacturer}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
